 
  
<div class="indexright">
  <ul>
    <li><a href="employees/new""><input type="button" value="NEW EMPLOYEES"/> </a></li>
    <li><a href="platforms/new""><input type="button" value="NEW PLATFORMS"/> </a></li>
    <li><a href="projects/new"><input type="button" value="NEW PROJECTS"/> </a></li>
    <li><a href="performances/new"><input type="button" value="NEW PERFORMANCES"/> </a></li> 
    </ul>


  <div class="indexleft">
    
    <div class="panel">
      <p>Because time is valuable, we deliver quick and easy learning.</p>
      <p>Keep it simple!! Get it Done!!</p>
   </div>
 
      <p class="flip">Press</p>
  </div>
</div>

<div class="scroll">  
<marquee style="position: relative;" behavior="scroll" align="center" direction="up" scrollamount="2" scrolldelay="5" onmouseover="this.stop()" onmouseout="this.start()" height="500"><br>

<center><a href="http://www.tkqlhce.com/click-2312720-10463747?URL=http://shop.cafepress.com/design/28001964" target="_blank"><img src="../assets/HTML5.jpg" title="HTML5 " style="position: relative;" border="0"></a><br></center>


<center><a href="http://www.zazzle.com/mama_needs_meat_t_shirt-235761845197339016?group=womens&lifeStyle=all&rf=238469832536531880" target="_blank"><img src="../assets/CSS3.jpg" alt="'Shat' - Anti-Vegetarian Tee Shirt" title="Tee Shirt " style="position: relative;" border="0"></a><br></center>

<center><a href="http://www.tkqlhce.com/click-2312720-10463747?URL=http://t-shirts.cafepress.com/item/peta-people-eating-tasty-an-womens-tshirt/88296564" target="_blank"><img src="../assets/middleman.jpg" alt="Anti-PETA Tee Shirt" title="Tee Shirt " style="position: relative;" border="0"></a><br></center>

<center><a href="http://www.tkqlhce.com/click-2312720-10463747?URL=http://t-shirts.cafepress.com/item/you-eat-what-cow-womens-tank-top/52149068" target="_blank"><img src="../assets/js.jpg" alt="Tee Shirt" title="Tee Shirt " style="position: relative;" border="0"></a><br></center>

<center><a href="http://www.tkqlhce.com/click-2312720-10463747?URL=http://shop.cafepress.com/design/16470235" target="_blank"><img src="../assets/html5_css3.jpg" alt="'Shat' - Anti-Vegetarian Tee Shirt" title="Tee Shirt " style="position: relative;" border="0"></a><br></center>

<center><a href="http://www.tkqlhce.com/click-2312720-10463747?URL=http://shop.cafepress.com/design/23760540" target="_blank"><img src="http://www.vegetariansareevil.com/images/vegbag.jpg" alt="Vegetarian Eco gear" title="Tee Shirt " style="position: relative;" border="0"></a><br></center>

<center><a href="http://www.tkqlhce.com/click-2312720-10463747?URL=http://shop.cafepress.com/design/21665649" target="_blank"><img src="http://www.vegetariansareevil.com/images/nobody.jpg" alt="Nobody Likes a Vegetarian Tee Shirt" title="Tee Shirt " style="position: relative;" border="0"></a><br></center>


<center><a href="http://www.tkqlhce.com/click-2312720-10463747?URL=http://shop.cafepress.com/design/10629813" target="_blank"><img src="http://www.vegetariansareevil.com/images/chicken.jpg" alt="Tee Shirt" title="Tee Shirt " style="position: relative;" border="0"></a></center>

<center><a href="http://www.zazzle.com/food_police_amti_vegan_joke_mug-168132535074258986?rf=238469832536531880" target="_blank"><img src="http://www.vegetariansareevil.com/images/foodchain.jpg" alt="Food Chain Mug" title="Coffee Mug" style="position: relative;" border="0"></a><br></center>
</marquee>

<div class="scrollrigth">
<p> hello</p>
</div>
</div>

