<div class="index">
<p id="notice"><%= notice %></p>

<p>
  <b>Platform:</b>
  <%= @platform.platform %>
</p>

</div>
<%= link_to 'Edit', edit_platform_path(@platform) %> |
<%= link_to 'Back', platforms_path %>
