<div class="indexcontainer">
<div class="index">
<marquee>Editing performance</marquee>

<%= render 'form' %>
</div>
<%= link_to 'Show', @performance %> |
<%= link_to 'Back', performances_path %>
</div>
